# Data Science Tools and Ecosystem

## Author
Nikhil Tungala

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

- Popular Languages for Data Science
- Popular Python Libraries for Data Science
- Data Science Tools
- Examples of Arthematic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C#
7.Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy
4. MatPlotLib

|Data Science Tools|
-----------------------------
|Jupyter Notebook|
|Apache Spark|
|Knime|
|Apache Flink|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hrs = mins / 60
print (hrs)

3.3333333333333335